{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/eslint-recommended"
    ],
    "plugins": [ 
        "@typescript-eslint"
    ],
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        }
    },
    "rules": {
    }
}